MODEL_NAME = "llama-3.1-8b-instant"
HUGGINGFACE_API_KEY = "your-huggingface-api-key"
HF_TOKEN = ""
GROQ_API_KEY = "your-groql-api-key"
ASTRA_DB_API_ENDPOINT="YOUR_API_ENDPOINT"
ASTRA_DB_APPLICATION_TOKEN="YOUR_TOKEN"
ASTRA_DB_KEYSPACE="YOUR_KEYSPACE"